html {
    opacity: 0;
}

body {
    font-family: var(--body-font);
}

a {
    text-decoration: none;
}

.ndm-view-all {
    font-size: 1.125rem;
}

header.ndm-main-header {}

main>section,
footer {
    
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
#ndq-content .nir-widget--label {
    font-family: var(--heading-font);
    font-weight: 700;
    font-style: normal;
    letter-spacing: .0375em;
}

h1,
.h1 {
    font-size: calc(1.375rem + 1.5vw);
}

h2,
.h2,
#ndq-content .nir-widget--label {
    font-size: calc(1.325rem + 0.9vw);
}

h1.body-font,
.h1.body-font,
h2.body-font,
.h2.body-font,
h3.body-font,
.h3.body-font,
h4.body-font,
.h4.body-font,
h5.body-font,
.h5.body-font,
h6.body-font,
.h6.body-font {
    letter-spacing: normal;
}

.jumbotron h1 .jumbotron .h1 {
    margin-bottom: .75em;
    line-height: 1.125;
}

.bg-gradient-1 {
    background: var(--color-primary);
    background: -moz-linear-gradient(left, var(--color-primary) 0%, var(--color-c) 100%);
    /* background: -webkit-linear-gradient(left, var(--color-primary) 0%, var(--color-c) 100%);
    background: linear-gradient(to right, var(--color-primary) 0%, var(--color-c) 100%); */
}

.bg-gradient-1-rev {
    background: var(--color-primary);
    /* background: -moz-linear-gradient(left, var(--color-c) 0%, var(--color-primary) 100%);
    background: -webkit-linear-gradient(left, var(--color-c) 0%, var(--color-primary) 100%);
    background: linear-gradient(to right, var(--color-c) 0%, var(--color-primary) 100%); */
}

.bg-gradient-2 {
    background: -moz-linear-gradient(left, rgba(var(--color-primary-rgb), 0.3) 0%, rgba(var(--color-c-rgb), 0.3) 100%);
    background: -webkit-linear-gradient(left, rgba(var(--color-primary-rgb), 0.3) 0%, rgba(var(--color-c-rgb), 0.3) 100%);
    background: linear-gradient(to right, rgba(var(--color-primary-rgb), 0.3) 0%, rgba(var(--color-c-rgb), 0.3) 100%);
}

.bg-gradient-2-rev {
    background: -moz-linear-gradient(left, rgba(var(--color-c-rgb), 0.3) 0%, rgba(var(--color-primary-rgb), 0.3) 100%);
    background: -webkit-linear-gradient(left, rgba(var(--color-c-rgb), 0.3) 0%, rgba(var(--color-primary-rgb), 0.3) 100%);
    background: linear-gradient(to right, rgba(var(--color-c-rgb), 0.3) 0%, rgba(var(--color-primary-rgb), 0.3) 100%);
}

.text-gradient-1 {
    background: -webkit-linear-gradient(left, var(--color-primary), var(--color-c));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.text-primary {
    color: var(--color-primary) !important;
}

.text-a {
    color: var(--color-a) !important;
}

.text-b {
    color: var(--color-b) !important;
}

.text-c {
    color: var(--color-c) !important;
}

.text-d {
    color: var(--color-d) !important;
}

footer svg .logo-symbol,
.ndm-main-nav .ndm-logo-wrap svg .logo-symbol {
    fill: var(--color-primary);
}

footer svg .logo-text,
.ndm-main-nav .ndm-logo-wrap svg .logo-text {
    fill: #fff;
}

footer.bg-dark .navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

footer.bg-dark .ndm-utility .nav-link {
    color: #BCC9CE !important;
}

footer.bg-dark .ndm-utility .nav-item:first-child>.nav-link {
    padding-left: 0;
}

@media screen and (min-width:992px) {
    footer.bg-dark .ndm-utility .nav-item:first-child>.nav-link {
        padding-left: inherit;
    }
    footer.bg-dark .ndm-utility .nav-item:last-child>.nav-link {
        padding-right: 0;
    }
}

.jumbotron {
    overflow: hidden;
    transition: all .3s ease;
}

[class*='ndm-overlay-'] {
    position: relative;
}

.ndm-overlay-1::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--color-primary);
    background: -moz-linear-gradient(left, var(--color-c) 0%, var(--color-primary) 100%);
    background: -webkit-linear-gradient(left, var(--color-c) 0%, var(--color-primary) 100%);
    background: linear-gradient(to right, var(--color-c) 0%, var(--color-primary) 100%);
    /* opacity: .45; */
    opacity: -12.55;
}

.ndm-overlay-1-rev::before {
    transform: rotate(180deg);
    transform-origin: center;
}

.ndm-overlay-black::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .4;
}

[class*='ndm-overlay-'].ndm-overlay-opac-2::before {
    opacity: .2 !important;
}

[class*='ndm-overlay-'].ndm-overlay-opac-3::before {
    opacity: .3 !important;
}

[class*='ndm-overlay-'].ndm-overlay-opac-4::before {
    opacity: .4 !important;
}

[class*='ndm-overlay-'].ndm-overlay-opac-5::before {
    opacity: .5 !important;
}

[class*='ndm-overlay-'].ndm-overlay-opac-6::before {
    opacity: .6 !important;
}

[class*='ndm-overlay-'].ndm-overlay-opac-7::before {
    opacity: .7 !important;
}

[class*='ndm-overlay-'].ndm-overlay-opac-8::before {
    opacity: .8 !important;
}

[class*='ndm-overlay-'].ndm-overlay-opac-9::before {
    opacity: .9 !important;
}

.jumbotron.ndm-overlay-1::before {
    z-index: 1;
}

.jumbotron.ndm-overlay-1>* {
    z-index: 1;
}

.jumbotron.ndm-overlay-1>img {
    z-index: 0;
}

.idm-carousel-nav,
.ndm-hero-nav {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.idm-carousel-nav li,
.ndm-hero-nav li {
    flex: 0 0 33.33%;
}

.idm-carousel-nav li a,
.ndm-hero-nav li a {
    display: block;
    padding: 2rem 4rem;
    color: var(--bs-gray-300);
    text-decoration: none;
    transition: background-color 1s ease;
}

.idm-hero-carousel-wrapper.multi .idm-carousel-nav li {
    display: none;
    flex: 0 0 100%;
}

.idm-hero-carousel-wrapper.multi .idm-carousel-nav li.next-slide {
    display: flex;
    align-items: end;
}

.idm-hero-carousel-wrapper.multi .idm-carousel-nav li a {
    padding-left: 3rem;
    padding-right: 3rem;
}

.idm-hero-carousel-wrapper.multi .idm-carousel-nav li.next-slide>* {
    flex: 0 0 45%;
}

.idm-hero-carousel-wrapper.multi .idm-carousel-nav li.next-slide>div {
    flex-basis: 55%;
}

.idm-carousel-nav li a:hover,
.ndm-hero-nav li a:hover {
    background: rgba(255, 255, 255, .05);
}

.idm-carousel-nav li a.idm-active,
.ndm-hero-nav li a.ndm-active {
    background: rgba(255, 255, 255, .15);
}

.idm-carousel-nav .slide-nav-num,
.ndm-hero-nav .slide-nav-num {
    margin-bottom: .5em;
}

.idm-carousel-nav .slide-nav-title,
.ndm-hero-nav .slide-nav-title {
    font-size: 1.25rem;
    margin-bottom: .25em;
}

.idm-carousel-nav .slide-nav-subtitle,
.ndm-hero-nav .slide-nav-subtitle {
    line-height: 1.1;
}

.data-carousel-progress {
    height: 100%;
    width: 1px;
    background-color: var(--bs-gray-300);
    position: relative;
}

.data-carousel-progress .progress-indicator {
    width: 1rem;
    height: 1rem;
    border: 1px solid var(--bs-gray-300);
    border-radius: 50%;
    position: absolute;
    top: -1rem;
    left: 50%;
    transform: translateX(calc((50% + .5px) * -1));
}

.data-carousel-progress .progress-level {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(calc((50% + .5px) * -1));
    width: 3px;
    height: 0;
    background-color: var(--color-primary);
    transition: opacity .3s ease;
}

.carousel-num {
    width: 80px;
    margin-top: 3rem;
}

@media only screen and (min-width :768px) {
    .carousel-num {
        display: inline-block;
        transform-origin: right center;
        transform: translateY(calc(50% + 5px)) translateX(-100%) rotate(-90deg)
    }
}

.idm-hero-carousel-wrapper img {
    transition: opacity 1s ease;
    opacity: 0;
}

.idm-hero-carousel-wrapper div img {
    opacity: 1;
}

.idm-hero-carousel-wrapper img.active {
    opacity: 1;
    height: 100%;
}

.ndm-article-list.boxes {}

.ndm-article-list.boxes article {
    min-height: 350px;
}

.ndm-article-list.boxes article a {
    position: relative;
    padding: 2rem;
    text-decoration: none;
    color: var(--bs-body-color);
}

.ndm-article-list.boxes:not(.stories) article a {
    background-color: var(--bs-gray-200);
}

.ndm-article-list.boxes article a * {
    z-index: 1;
    transition: all .5s ease;
}

.ndm-article-list.boxes article a::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0;
    transition: all 1s ease;
    background-color: #fff;
}

.ndm-article-list.boxes.stories article a::before {
    opacity: .25;
}

.ndm-article-list.boxes:not(.stories) article a::before {
    background: rgb(0, 180, 190);
    background: -moz-linear-gradient(-45deg, var(--color-primary) 0%, var(--color-c) 100%);
    background: -webkit-linear-gradient(-45deg, var(--color-primary) 0%, var(--color-c) 100%);
    background: linear-gradient(135deg, var(--color-primary) 0%, var(--color-c) 100%);
}

.ndm-article-list.boxes:not(.stories) article a::after,
.ndm-article-list.videos article>div::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: rgb(0, 180, 190);
    background: -moz-linear-gradient(-45deg, var(--color-primary) 0%, var(--color-c) 100%);
    background: -webkit-linear-gradient(-45deg, var(--color-primary) 0%, var(--color-c) 100%);
    background: linear-gradient(135deg, var(--color-primary) 0%, var(--color-c) 100%);
}

.ndm-article-list.boxes article .ndm-category {
    text-transform: uppercase;
    margin-bottom: 2rem;
    color: var(--color-b);
}

.ndm-article-list.boxes article .ndm-title {
    padding-right: 2.5rem;
    font-size: 1.25em;
}

.ndm-article-list.boxes article .ndm-learn-more {
    color: var(--color-b);
}

.ndm-article-list.boxes:not(.stories) article a:hover * {
    color: #fff;
}

.ndm-article-list.boxes article a:hover::before {
    opacity: 1;
}

.ndm-blog {
    display: flex;
    flex-direction: column;
}

.ndm-blog article {
    transition: all .3s ease;
    padding: 2rem 0 0 0;
}

.touchevents .ndm-blog article {
    margin-bottom: 3rem !important;
}

.ndm-blog article a {
    text-decoration: none;
    color: inherit;
}

.ndm-blog article time {
    display: block;
    margin-bottom: 1rem;
}

.ndm-blog article .ndm-title {
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
}

.ndm-blog article .ndm-blog-img {
    width: 100%;
    height: 0;
    padding-top: 100%;
    position: relative;
    transition: all .3s ease;
}

.ndm-blog article .ndm-blog-img img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    object-fit: cover;
    object-position: center;
}

.ndm-blog article .ndm-learn-more {
    color: var(--color-primary);
}

.no-touchevents .ndm-blog article:hover .ndm-learn-more {
    color: var(--color-red);
}

@media screen and (min-width:768px) {
    .ndm-blog {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .ndm-blog article:first-of-type {
        flex: 0 0 100%;
        margin-bottom: 2rem;
    }
    .ndm-blog article {
        padding: 2rem 20px 0 20px;
        flex: 0 0 50%;
        border-left: 1px solid var(--bs-gray-500);
    }
}

@media screen and (min-width:992px) {
    .ndm-blog article:first-of-type {
        margin-bottom: 0;
        flex: 0 0 33.3333333%;
    }
    .ndm-blog article {
        flex: 0 0 33.3333333%;
        border-left: 1px solid var(--bs-gray-500);
    }
}

@media screen and (min-width:1200px) {
    .no-touchevents .ndm-blog article {
        flex: 0 0 25%;
    }
    .no-touchevents .ndm-blog:not(:hover) article:first-of-type {
        flex: 0 0 50%;
    }
    .no-touchevents .ndm-blog article:hover {
        flex: 0 0 50%;
    }
    .no-touchevents .ndm-blog:not(:hover) article:first-of-type .ndm-blog-img {
        padding-top: 47.5%;
    }
    .no-touchevents .ndm-blog:hover article .ndm-blog-img {
        padding-top: 100%;
    }
    .no-touchevents .ndm-blog article:hover .ndm-blog-img {
        padding-top: 47.5%;
    }
}

.ndm-article-list.boxes.stories article {
    min-height: auto;
}

.ndm-article-list.boxes.stories article a {
    overflow: hidden;
}

.ndm-article-list.boxes.stories article .ndm-title {
    padding-right: 0;
    color: #fff;
}

.ndm-article-list.boxes.stories article .ndm-learn-more,
.ndm-article-list.boxes.stories article .ndm-location {
    color: #fff;
}

.ndm-article-list.boxes.stories article a:hover .ndm-title,
.ndm-article-list.boxes.stories article a:hover .ndm-learn-more,
.ndm-article-list.boxes.stories article a:hover .ndm-location {
    color: var(--bs-body-color);
}

.ndm-article-list.boxes.stories article a:hover .stories-logo-wrapper+.ndm-title {
    transform: translateY(calc(-80px - 1.5rem));
}

.stories-logo-wrapper {
    height: 80px;
    width: 200px;
    max-width: 100%;
    padding-right: 1.25rem;
}

.ndm-article-list.boxes.stories article a:hover .stories-logo-wrapper {
    transform: translatex(-150%);
}

.ndm-article-list.boxes.stories article a img {
    transition: all .2s ease;
    max-height: 100%;
}

.ndm-article-list {}

.ndm-article-list.videos article>div {
    position: relative;
    background-color: var(--bs-gray-200);
}

.ndm-article-list .ndm-article-data {
    padding: 3rem 2rem;
}

.ndm-article-list.videos .ndm-title {
    font-weight: bold;
}

.ndm-article-list.events article {
    border-top: 1px solid var(--color-h);
    padding: 2rem 1rem;
}

.ndm-article-list.events article a span[class*='material-icons'] {
    transition: all var(--transition-timing) ease;
}

.ndm-article-list.events article a:hover span[class*='material-icons'] {
    transform: translateX(1rem);
}

.ndm-article-list.events article:last-child {
    border-bottom: 1px solid var(--color-h);
}

.bg-dark .ndm-article-list.events article {
    border-top-color: rgba(255, 255, 255, .375);
}

.bg-dark .ndm-article-list.events article:last-child {
    border-bottom-color: rgba(255, 255, 255, .375);
}

.ndm-article-carousel .owl-stage,
.ndm-card-carousel .owl-stage {
    display: flex;
}

.ndm-card-carousel .owl-item .bio-item {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.ndm-card-carousel .owl-item .bio-item .bio-details {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.ndm-card-carousel .owl-item .bio-item .bio-details>a {
    flex-grow: 1;
}

.ndm-article-carousel .owl-stage article {
    height: 100%;
}

.ndm-article-carousel .owl-nav,
.ndm-card-carousel .owl-nav,
.ndm-testimonial-carousel .owl-nav {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -4rem;
    transform: translateY(-100%);
    font-size: 2rem;
}

.ndm-article-carousel .owl-item img {
    width: auto
}

.ndm-testimonial-list article {
    position: relative;
    padding: 3rem 0 3rem 3rem;
    border-left: 1px solid rgba(255, 255, 255, .5);
    border-bottom: 1px solid rgba(255, 255, 255, .5);
}

.ndm-testimonial-list .owl-item {
    padding-top: 1.2rem;
}

.ndm-testimonial-list article::before {
    content: '';
    width: 1rem;
    height: 1rem;
    border: 1px solid rgba(255, 255, 255, .5);
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-50%) translateY(-100%);
}

.ndm-testimonial-carousel article {
    margin-left: .625rem;
}

@media screen and (min-width:1200px) {
    .ndm-testimonial-carousel article {
        margin-right: 20%;
    }
}

.ndm-stat {
    font-size: 4rem;
    font-weight: bold;
    line-height: 1;
}

.careers-collage img {
    display: none;
}

.ndm-feature {
    line-height: 1;
    margin-bottom: 2rem;
}

.ndm-feature>div {
    flex-grow: 1;
}

.ndm-feature>div:first-child:not(:last-child) {
    flex: 0 0 23%;
    padding-right: 1.25rem;
}

.sound_x002D_line {
    fill: none;
    stroke: var(--color-primary);
    stroke-width: 6;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.circ1 {
    fill: none;
    stroke: var(--color-c);
    stroke-miterlimit: 10;
}

.pulse_x002D_1 {
    fill: none;
}

.pulse_x002D_2 {
    fill: none;
}

.st0 {
    display: none;
}

.st1 {
    display: inline;
    fill: none;
    stroke: #000000;
    stroke-width: 6;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st2 {
    fill: none;
}

#dot-to-dot polyline {
    stroke: none;
}

.pulse,
.pulse-2,
.pulse-3,
.pulse_x002D_1,
.pulse_x002D_2 {
    fill: transparent !important;
}

.pulse-fill {}

.circle-grid circle {
    fill: var(--color-primary);
}

.ndm-fadeout-top,
.ndm-fadeout-bottom {
    position: relative;
}

.ndm-fadeout-top::before,
.ndm-fadeout-bottom::after {
    content: '';
    display: block;
    height: 3rem;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0);
    z-index: 1;
}

.ndm-fadeout-bottom::after {
    bottom: 0;
    top: auto;
    transform: rotate(180deg);
}

.no-touchevents .product-item {
    color: var(--bs-gray-600);
    transition: all .2s ease;
}

.no-touchevents .product-item.active {
    color: inherit;
}

.product-item h3 {
    font-family: var(--body-font);
}

.no-touchevents .product-item h3 {
    transition: .2s ease;
    transform-origin: left center;
}

.no-touchevents .product-item.active h3 {
    transform: scale(1.1);
}

.product-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-description {
    padding-left: calc(20% + 2rem);
}

.product-title>div {
    flex: 0 0 20%;
    width: 20%;
    padding-right: 2rem;
    position: relative;
    transition: all .2s ease;
}

.product-title>div svg {
    width: 100%;
}

.no-touchevents .product-item.active .product-title>div {
    transform: scale(1.1);
}

.product-title>h3 {
    flex: 0 0 80%;
    width: 80%;
    padding-left: 2rem;
    position: relative;
    margin-bottom: 0;
}

.product-title>h3::before {
    content: '';
    width: 1rem;
    height: 1rem;
    border: 1px solid var(--bs-gray-600);
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.bg-dark .product-title>h3::before {
    background-color: #000;
    border-color: #fff;
}

.products-wrapper {
    position: relative;
}

.products-wrapper::before {
    content: '';
    width: 1px;
    height: 100%;
    background-color: var(--bs-gray-600);
    position: absolute;
    left: 20%;
    top: 0;
}

.bg-dark .products-wrapper::before {
    background-color: #fff;
}

.products-wrapper.no-icons::before {
    left: 0;
}

@media screen and (min-width:768px) {
    main section>.container {}
}

@media screen and (min-width:992px) {
    .products-wrapper::before {
        left: 9.7%;
    }
    .product-description {
        padding-left: 15px;
    }
}

@media screen and (min-width:1200px) {
    h1,
    .h1 {
        font-size: 3.5rem;
    }
    h2,
    .h2,
    #ndq-content .nir-widget--label {
        font-size: 3rem;
    }
    h3,
    .h3 {
        font-size: 2.25rem;
    }
    h4,
    .h4 {
        font-size: 1.75rem;
    }
    h5,
    .h5 {
        font-size: 1.5rem;
    }
}

.marquee-logos .marquee-image {
    flex: 0 0 250px;
    padding: 0 2rem;
}

.marquee-logos .marquee-image {
    background: rgba(255, 255, 255, 0.5);
}

.pulse-content {
    display: flex;
}

.pulse-content span.pulser {
    flex: 0 0 40px;
    position: relative;
}

.pulse-content span.pulser::before,
.pulse-content span.pulser::after {
    content: '';
    transform: scale(.333);
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #000;
    transition: all var(--transition-timing) ease;
}

.pulse-content span.pulser::before {
    transform: scale(.67);
}

.pulse-content span.pulser::after {}

.pulse-content>* {
    flex-grow: 1;
}

.pulse-content:hover span.pulser::before {
    animation-name: pulser;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.pulse-content:hover span.pulser::after {
    animation-name: pulser2;
    animation-duration: 2s;
    animation-delay: .2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes pulser {
    0% {
        transform: scale(.333);
        opacity: 0;
        border-color: var(--color-primary);
    }
    25% {
        transform: scale(.75);
        opacity: 1;
        border-color: var(--color-primary);
    }
    50% {
        transform: scale(.67);
        opacity: 1;
        border-color: var(--color-primary);
    }
    100% {
        transform: scale(1);
        opacity: 1;
        border-color: var(--color-primary);
    }
}

@keyframes pulser2 {
    0% {
        transform: scale(.333);
        opacity: 0;
        border-color: var(--color-primary);
    }
    25% {
        transform: scale(.333);
        opacity: 1;
        border-color: var(--color-primary);
    }
    50% {
        transform: scale(.25);
        opacity: 1;
        border-color: var(--color-primary);
    }
    100% {
        transform: scale(.5);
        opacity: 1;
        border-color: var(--color-primary);
    }
}

.ndm-scroll.scrollable.default-skin {
    padding-right: 4rem;
}

.ndm-scroll.left.scrollable.default-skin {
    padding-left: 4rem;
    padding-right: 0;
}

.ndm-scroll.left.scrollable .scroll-bar.vertical {
    right: auto;
    left: 0;
}

.ndm-scroll.scrollable .scroll-bar.vertical .thumb {
    min-height: auto;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 1px solid #000;
    background: #fff;
    opacity: 1;
}

.bg-dark .ndm-scroll.scrollable .scroll-bar.vertical .thumb {
    border-color: #fff;
}

.ndm-scroll.scrollable.default-skin .scroll-bar.vertical {
    width: 16px;
}

.ndm-scroll.scrollable.default-skin .scroll-bar.vertical::before {
    content: '';
    width: 1px;
    height: 100%;
    background: #000;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.bg-dark .ndm-scroll.scrollable.default-skin .scroll-bar.vertical::before {
    background: #fff;
}

@media screen and (min-width:768px) {
    .ndm-scroll.scrollable .scroll-bar.vertical {
        transform: translateX(50%);
    }
    .ndm-scroll.left.scrollable .scroll-bar.vertical {
        transform: translateX(-50%);
    }
}

.accordion-header {
    font-family: var(--body-font);
}

.accordion-header button {
    font-weight: bold;
}

.accordion-button[aria-expanded='true']::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
}

.accordion-button {
    background-color: var(--bs-gray-300);
}

.accordion-item:first-of-type .accordion-button,
.accordion-item:last-of-type .accordion-button {
    border-radius: 0;
}

.accordion-button[aria-expanded='true'] {
    background-color: var(--color-primary);
    color: #fff;
}

.accordion-item:first-of-type,
.accordion-item:last-of-type {
    border-radius: 0;
}

.idm-hero-carousel-wrapper .owl-item.animated {
    animation-duration: .8s
}

.idm-hero-carousel-wrapper .owl-item.animated {}

.idm-hero-carousel-wrapper .owl-item.animated.active {
    animation-duration: 1.5s;
}