.custom-accordion .sub-heading {
    background-color: #df1f21;
    padding: 0.9rem 1rem;
    color: #fff;
}

.custom-accordion .card-body table .caption td {
    background: dimgray !important;
}

.icon-door-skin {
    background-position: -320px -440px;
}

.icon-certifications {
    background-position: -375px -440px;
}

.product-tabs .custom-transparent .nav .nav-link.active .icon-door-skin {
    background-position-x: -250px;
}

.right-filter-menu {
    top: 0%;
}

.privacy-page {
    background: #fff !important;
}

.international-office h2 {
    color: lightgrey !important;
    font-size: 5vw !important;
}

/*.screen-reader-response {
    display: none;
}*/

input#custom-file-upload-input {
    display: none !important;
}

.breadcrumbs {
    text-transform: uppercase;
}

.product-filter .product-categories .nav .nav-link.active .icon-question-circle {
    background-position: -9px -514px;
}

.product-filter .product-categories .nav .nav-link.active .icon-search-boxes {
    background-position: -67px -514px;
}

.product-filter .product-categories .nav .nav-link.active .icon-message-questions {
    background-position: -246px -514px;
}

.product-filter .product-categories .nav .nav-link.active .icon-pages-book {
    background-position: -368px -514px;
}

.icon-pages-book {
    background-position: -58px -443px;
}

.product-filter .product-categories .nav .nav-link.active .icon-price-tag {
    background-position: -129px -514px;
}

.product-filter .product-categories .nav .nav-link.active .icon-hand-holding-right-check {
    background-position: -188px -514px;
}

.product-filter .product-categories .nav .nav-link.active .icon-90-rotate-arrow {
    background-position: -7px -649px;
}

.product-filter .product-categories .nav .nav-link.active .icon-four-boxes {
    background-position: -309px -516px;
}

.navbar-header {
    background: #df1f21;
    position: relative;
    height: 100px;
}

.navbar-header::before {
    content: "";
    position: absolute;
    height: 100%;
    display: inline-block;
    background: #df1f21;
    top: 0;
    left: -30px;
    right: 100%;
}

.navbar-header::after {
    content: "";
    position: absolute;
    height: 100%;
    display: inline-block;
    background: #df1f21;
    top: 0;
    right: -30px;
    left: 100%;
}

.catalogues-menu a {
    background: #df1f21;
    color: #fff;
}

.catalogues-menu a span {
    color: #fff;
}

.site-header .navbar .navbar-brand .logo {
    max-width: 200px;
}

@media (min-width: 768px) {
    .where-to-buy-tabs .country-filter .right-filter-menu,
    .where-to-buy-tabs .state-filter .right-filter-menu {
        position: absolute;
        top: 10%;
        right: 0;
        bottom: 0;
        max-height: 100%;
        overflow: scroll;
    }
}

.col-md-3.col-sm-6.py-md-4.dealers-row {
    float: left;
    max-height: 225px;
}

.col-12.blog-item.py-3.py-lg-4 img {
    float: left;
    margin-right: 30px;
}

main.page-wrapper.home-page {
    padding-top: 77px !important;
}

.page-template-temp-laminates .laminate-descriptions {
    text-align: justify;
}

.page-template-temp-laminates .laminate-descriptions li {
    text-align: left;
}

/* ============ desktop view ============ */

@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }
    .navbar .nav-item:hover .nav-link {}
    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }
    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
}

/* ============ desktop view .end// ============ */